{% extends 'layout/base.html' %} {% load static %} {% block content %}
<section id="base" class="container d-flex flex-sm-row flex-column align-items-sm-center justify-content-center text-light">
  <div class="card bg-dark text-light border-light" style="width: 18rem">
    <img src="{% static 'img/benefits/benefits.png' %}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</section>
{% endblock content %}
