{% extends 'layout/base.html' %} {% load static %} {% block content %}
<section id="base" class="container d-flex flex-sm-row flex-column align-items-sm-center justify-content-center text-light">
  <div class="row">
    <h2>NEED TO DISCUSS A NEW PROJECT?</h2>
    <p class="lead text-secondary">-- or any feedback on the website, please kindly contact me.</p>
    <div class="container d-flex flex-sm-row flex-column align-items-sm-center align-items-start justify-content-sm-start">
      <a href="mailto: naufalbasara@outlook.com" class="btn btn-md btn-info me-sm-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
          />
        </svg>
        Send Email</a
      >
      <span class="me-sm-2">or</span>
      <a type="button" class="btn btn-md btn-info" data-bs-toggle="modal" data-bs-target="#formModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-inbox-fill" viewBox="0 0 16 16">
          <path
            d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4H4.98zm-1.17-.437A1.5 1.5 0 0 1 4.98 3h6.04a1.5 1.5 0 0 1 1.17.563l3.7 4.625a.5.5 0 0 1 .106.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374l3.7-4.625z"
          />
        </svg>
        Fill Form</a
      >
    </div>
  </div>

  {% comment %} modal content {% endcomment %}
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal">New message</h5>
          <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="sender-name" class="col-form-label">From:</label>
              <input type="text" class="form-control" id="sender-name" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Send message</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
