{% extends 'layout/base.html' %} {% load static %} {% block content %}
<section id="base" class="container d-flex flex-sm-row flex-column align-items-sm-center justify-content-center text-light">
  <div class="row">
    <h2>NEED TO DISCUSS A NEW PROJECT?</h2>
    <p class="lead text-secondary">-- or any feedback on the website, please kindly contact me.</p>
    <div class="container d-flex flex-sm-row flex-column align-items-sm-center align-items-start justify-content-sm-start">
      <a href="mailto: naufalbasara@outlook.com" class="btn btn-md btn-info me-sm-2">Send Me Email</a>
      <span class="me-sm-2">or</span>
      <a type="button" class="btn btn-md btn-info" data-bs-toggle="modal" data-bs-target="#formModal">Fill The Form</a>
    </div>
  </div>

  {% comment %} modal content {% endcomment %}
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal">New message</h5>
          <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="sender-name" class="col-form-label">From:</label>
              <input type="text" class="form-control" id="sender-name" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Send message</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
