{% extends 'layout/base.html' %} {% load static %} {% block content %}

<section id="base" class="container d-flex flex-sm-row flex-column align-items-sm-center justify-content-center text-light">
  <div class="row d-flex flex-sm-row flex-column">
    <h2 class="container">About Me</h2>
    {% comment %} block column {% endcomment %}
    <div class="text-light d-none d-lg-block fixed" id="block">
    </div>

    {% comment %} image column {% endcomment %}
    <div class="col-lg-4 d-none d-lg-block">
      <img src="{% static img %}" alt="Naufal" class="img-fluid" loading="lazy" />
    </div>

    {% comment %} description column {% endcomment %}
    <div class="col-lg-4">
      <article>
        <p align="justify">
          Hey there! I'm Naufal Rafiawan Basara, a student who interested in data, machine learning, and software engineering. I'm currently pursuing Information Systems degree at
          <a href="https://www.its.ac.id/" target="_blank"><strong class="hoverStrong">Sepuluh Nopember Institute of Technology</strong></a
          >, Surabaya.
        </p>
        <p align="justify">
          I have done a project about database web application developed using Laravel (PHP Framework) with MySQL RDBMS, please kindly check my project <a href="/project" class="hoverStrong"><strong>here!</strong><a>. 
          In the future, this website will be a place where i put my work about website development, data science, or even software engineering.
        </p>
        <p align="justify">
          If there's something to discuss, feel free to contact me <a href="/contact" class="hoverStrong"><strong>here!</strong></a>
        </p>
      </article>
    </div>
    {% comment %} block column {% endcomment %}
    <div class="text-light d-none d-lg-block fixed" id="block-2">
    </div>
  </div>
</section>
{% endblock content %}
